@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap");
body {
  font-family: "Roboto", sans-serif;
}

.app {
  background-image: url("./assests/bg.jpeg");
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.inputSearch {
  position: absolute;
  left: 540px;
  top: 204px;
}

.input {
  background: #fff;
  border: 1px solid #fff;
  outline: none;
  box-sizing: border-box;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 39px;
  padding: 10px 20px;
  width: 485px;
  height: 72px;
}
